.searchbox {
 display: block;
}


.nav-bar {
 display: flex;
 justify-content: space-between;
 height: 57px;
}

.left-section {
 background-color: lightblue;
 flex: 1;
 max-width: 162px;
}

.center-section {
 background-color: lightgreen;
 flex: 1;
 max-width: 470px;
 margin-left: 60px;
 margin-right: 24px;
}

.right-section {
 background-color: lightpink;
 flex: 1;
 max-width: 182px;
}