.thumbnail {
 width: 100%;
}
.video-title {
 margin-top: 0;
 font-size: 14px;
 font-weight: 500;
 line-height: 20px;
}

.channel-picture {
}
.video-info {
}

.channel-profile {
 width: 100%;
 max-width: 40px;
 border-radius: 50%;
}

.video-author {
 color: rgb(80, 76, 76);
 font-size: 14px;
 margin: 0;
}

.video-stats {
 color: rgb(80, 76, 76);
 font-size: 14px;
 margin-top: 4px;
}

.video-info-grid {
 display: grid;
 grid-template-columns: 50px 1fr;
 margin-top: 5px; /* temporary solution */
}

.video-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 15px;
 row-gap: 15px;
}