.thumbnail {
    width: 100%;
    border-radius: 12px;
}
.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.channel-profile {
    width: 100%;
    max-width: 40px;
    border-radius: 50%;
}

.video-author {
    color: rgb(80, 76, 76);
    font-size: 14px;
    margin: 0;
}

.video-stats {
    color: rgb(80, 76, 76);
    font-size: 14px;
    margin-top: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 5px; /* temporary solution */
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
    /* border-top: 1px solid rgba(205, 201, 201, 0.705); */
    /* border-left: 1px solid rgba(205, 201, 201, 0.705);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.134); */
    /* background-color: rgba(242, 246, 249, 0.59); */
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

.channel-picture {
}
.video-info {
}

.thumbnail-duration {
    position: relative;
}
.duration {
    font-family: Roboto, Arial;
    font-size: 12px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 2px 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
}
